<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

<div class="container">
  <h1>Experiências Profissionais</h1>
  <div *ngFor="let emprego of empregos; let i = index" class="experience">
    <div class="form-container">
      <form class="formulario">
        <div class="nome-experiencia">
          <span>Função Exercida</span>
          <input type="text" id="nome-{{i}}" [(ngModel)]="emprego.nome" name="nome-{{ i }}">
        </div>

        <div class="inicio">
          <span>Data de Início</span>
          <input type="date" readonly onfocus="this.removeAttribute('readonly')" id="inicio-{{i}}" [(ngModel)]="emprego.dataInicio" (ngModelChange)="validarDatas(i)" name="inicio-{{i}}">
        </div>

        <div class="termino">
          <span>Data de Término</span>
          <div class="termino-container">
            <input type="date" readonly onfocus="this.removeAttribute('readonly')" id="termino-{{i}}" [(ngModel)]="emprego.dataTermino" (blur)="validarDatas(i)" name="termino-{{i}}">
            <button *ngIf="empregos.length > 1" mat-icon-button color="warn" class="remove-experience" (click)="removerExperiencia(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </form>

      <div *ngIf="erros[i]" class="erro">
        {{erros[i]}}
      </div>
    </div>
  </div>

  <div class="botoes">
    <button class="add-experience" (click)="adicionarExperiencia()">Adicionar Experiência</button>
    <button class="calculate-experience" (click)="calcularTempoDeExperiencia()">Calcular Experiência</button>
    <button class="remove-all" (click)="removerTodasAsExperiencias()">Limpar Tudo</button>
  </div>

  <div *ngIf="resultado">
    <h2>Resultado</h2>
    <p>{{resultado}}</p>
  </div>
</div>
