<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

<div class="container">
  <h1>Experiências Profissionais</h1>
  <div *ngFor="let emprego of empregos; let i = index" class="experience">
    <div class="subtitulo">
      <h2>Emprego {{i + 1}}</h2>
      <button mat-icon-button color="warn" class="remove-experience" (click)="removerExperiencia(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <div class="form-container">
      <form class="formulario">
        <div class="nome-experiencia">
          <span>Nome da Experiência</span>
          <input type="text" id="nome-{{i}}" [(ngModel)]="emprego.nome" name="nome-{{ i }}">
        </div>

        <div class="inicio">
          <span>Data de Início</span>
          <input type="date"  id="inicio-{{i}}" [(ngModel)]="emprego.dataInicio" (ngModelChange)="validarDatas(i)" name="inicio-{{i}}">
        </div>

        <div class="inicio">
          <span>Data de Término</span>
          <input type="date" id="termino-{{i}}" [(ngModel)]="emprego.dataTermino" (blur)="validarDatas(i)" name="termino-{{i}}">
        </div>

      </form>
      <div *ngIf="erros[i]" class="erro">
        {{erros[i]}}
      </div>
    </div>
  </div>

  <div class="botoes">
    <button (click)="adicionarExperiencia()">Adicionar Experiência</button>
    <button (click)="calcularTempoDeExperiencia()">Calcular Experiência</button>
    <button class="remove-all" (click)="removerTodasAsExperiencias()">Excluir Tudo</button>
  </div>

  <div *ngIf="resultado">
    <h2>Resultado</h2>
    <p>{{resultado}}</p>
  </div>
</div>
